:root {
  --eiv-blue: #26427e;
  --eiv-pink: #ff0088;
  --eiv-purple: #7766ff;
  --eiv-cyan: #00ffee;
  --fx_duration: 0.5s;
  --fx_duration_1_2: 0.25s;

  // --font_size_factor: 0.75;
  // font-size: calc(var(--font_size_factor) * (1vw + 1vh));

  scroll-behavior: smooth;

  --viewport-padding-vertical: 1rem;
  --viewport-padding-horizontal: 1rem;

  --logo-size: 3rem;
  --bordered-padding: 1rem;

  --rainbow-intensity: 11;
  --red: rgb(var(--rainbow-intensity), 0, 0);
  --yellow: rgb(var(--rainbow-intensity), var(--rainbow-intensity), 0);
  --green: rgb(0, var(--rainbow-intensity), 0);
  --cyan: rgb(0, var(--rainbow-intensity), var(--rainbow-intensity));
  --blue: rgb(0, 0, var(--rainbow-intensity));
  --magenta: rgb(var(--rainbow-intensity), 0, var(--rainbow-intensity));
}
// @media screen and (max-width: 768px) {
//   :root {
//     --font_size_factor: 1;
//   }
// }
body {
  font-size: inherit;
  line-height: inherit;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

svg,
symbol {
  overflow: visible !important;
}
use {
  transform-origin: center;
  transform-box: fill-box;
}
