@keyframes bg-anim {
  100% {
    background-position: 200% center;
  }
}

/*
.x-rainbow-text {
  animation: bg-anim 3s linear infinite;
  background: linear-gradient(
    90deg,
    var(--eiv-pink) 0%,
    var(--eiv-purple) 25%,
    var(--eiv-cyan) 50%,
    var(--eiv-purple) 75%,
    var(--eiv-pink) 100%
  );
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
*/

.rainbow {
  background:
    //
    radial-gradient(circle at 50% 20%, var(--red) 0%, transparent 50%),
    radial-gradient(circle at 80% 35%, var(--yellow) 0%, transparent 50%),
    radial-gradient(circle at 70% 70%, var(--green) 0%, transparent 50%),
    radial-gradient(circle at 50% 80%, var(--cyan) 0%, transparent 50%),
    radial-gradient(circle at 20% 70%, var(--blue) 0%, transparent 50%),
    radial-gradient(circle at 20% 20%, var(--magenta) 0%, transparent 50%),
    #000000;
}

.muted {
  opacity: 0.75;
  transition: opacity var(--fx_duration_1_2) linear;
}
.muted:hover,
.muted:focus,
.muted:active {
  opacity: 1;
}

.underline {
  text-decoration: underline;
}
.underline:hover,
.underline:focus {
  text-decoration: none;
}

.fx_outline--padding {
  padding: 0.25em 0.5em;
}

.fx_outline {
  position: relative;
  text-decoration: none;
  @extend .fx_outline--padding;
}
.fx_outline::before,
.fx_outline::after {
  content: " ";
  position: absolute;
  opacity: 0;

  width: 0;
  height: 0;

  border: 0 solid currentColor;

  --duration: var(--fx_duration);
  --duration: 0.5s;
  transition: opacity var(--duration) linear, width var(--duration) ease-out,
    height var(--duration) ease-out;
}

/*
.fx_outline--corners::before,
.fx_outline--corners::after {
  // width: 10%;
  // height: 15%;
  width: 4px;
  height: 4px;
  opacity: 0.5;
}
.fx_outline--corners:hover::before,
.fx_outline--corners:hover::after,
.fx_outline--corners:focus::before,
.fx_outline--corners:focus::after,
.fx_outline--corners:active::before,
.fx_outline--corners:active::after {
  opacity: 1;
}
*/

.fx_outline::before {
  top: 0;
  left: 0;
  border-width: 1px 0 0 1px;
}
.fx_outline::after {
  bottom: 0;
  right: 0;
  border-width: 0 1px 1px 0;
}
.fx_outline:hover::after,
.fx_outline:hover::before,
.fx_outline:focus::after,
.fx_outline:focus::before,
.fx_outline:active::after,
.fx_outline:active::before {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.fx_underline {
  position: relative;
  text-decoration: none;
  white-space: nowrap; /* MAKE SUCH LINKS SHORT */
}
.fx_underline::after {
  content: " ";
  position: absolute;
  bottom: 0;
  height: 0;
  border-bottom: 1px solid currentColor;

  opacity: 0.25;
  right: 0%;
  width: 100%;

  --duration: var(--fx_duration);
  transition: opacity var(--duration) linear, right var(--duration) ease-out,
    width var(--duration) ease-out;
}
.fx_underline:hover::after,
.fx_underline:focus::after,
.fx_underline:active::after {
  opacity: 1;
  right: 50%;
  width: 0%;
}

.fx_zoom_in {
  transition: transform var(--fx_duration_1_2) linear;
}
.fx_zoom_in:hover,
.fx_zoom_in:focus,
.fx_zoom_in:active {
  transform: scale(1.05);
}

.blurrer,
.n-modal-body-wrapper {
  backdrop-filter: blur(2px);
}
