.text-size-sm-1 {
  font-size: 0.8rem;
}
.text-size-base {
  font-size: 1rem;
}
.text-size-lg-1 {
  font-size: 1.33rem;
}
.text-size-lg-2 {
  font-size: 1.67rem;
}
.text-size-lg-3 {
  font-size: 2rem;
}

.text-line-base {
  line-height: 1;
}
.text-line-lg-1 {
  line-height: 1.25;
}
.text-line-lg-2 {
  line-height: 1.5;
}
.text-line-lg-2 {
  line-height: 1.75;
}

.text-align-start {
  text-align: start;
}
.text-align-center {
  text-align: center;
}
.text-align-end {
  text-align: enda;
}

.text-nowrap {
  white-space: nowrap;
}
.text-upper {
  text-transform: uppercase;
}
