.text-size-sm {
  font-size: 0.8rem;
}
.text-size-1 {
  font-size: 1rem;
}
.text-size-lg {
  font-size: 1.5rem;
}

.text-line-1 {
  line-height: 1;
}
.text-line-lg {
  line-height: 1.5;
}
.text-line-xlg {
  line-height: 2;
}

.text-align-start {
  text-align: start;
}
.text-align-center {
  text-align: center;
}
.text-align-end {
  text-align: enda;
}

.text-nowrap {
  white-space: nowrap;
}
.text-upper {
  text-transform: uppercase;
}
